body {
  /*background-image: url('../images/background/canvas.jpg');
  background-repeat: no-repeat;
  background-position: center;*/
}

canvas {
  background-image: url('../images/background/canvas.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 300px;
  position: sticky;
}

.jumbotron {
  background-image: url('../images/background/turing-logo.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 200px 200px;
  height: 200px;
  background-color: teal;
  color: black;
  text-align: left;
}

h2 {
  text-decoration: underline;
}
