body {

}

canvas {
  background-image: url('../images/background/turing-logo2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px 250px;
  position: sticky;
}

.jumbotron {
  height: 0px;
  background-color: #DDD;
}

.restart-button {
  width: 50px;
  height: 50px;
  background-color: green;
}

#title {
  margin-top: -20px;
  font-family: fantasy;
  color: #AA2222;
  text-align: center;
  font-size: 35px;
}

#stats-table {
  width: 600px;
  margin-left: auto;
  margin-right: -20px;
}

#objective {
  margin-top: -5px;
  text-align: center;
}

#controls {
  font-size: 15px;
  padding-top: 10px;
  color: #888;
}

#tip {
  font-size: 15px;
  color: #888;
}

.col-md-6.col-md-offset-3 {
  text-align: center;
  padding-top: 50px;
}
