body {
  /*background-image: url('../images/background/canvas.jpg');
  background-repeat: no-repeat;
  background-position: center;*/
}

canvas {
  background-image: url('../images/background/canvas.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 300px;
  position: sticky;
}

.jumbotron {
  height: 250px;
  background-color: teal;
}
